# Environment & Secrets
.env

# Virtual Environment
.venv/
env/
venv/

# Database
*.db
*.db-journal
*.db-wal
*.db-shm
pharmacy.db

# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class

# IDE & Editor Settings
.vscode/
.idea/
*.swp
